
.root__container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 0.5fr auto;
    position: relative;
  }
  
  /*Header*/
  .main__header {
    width: 100%;
    grid-template-columns: 1fr 1fr 0.25fr;
    grid-template-rows: 1fr;
    box-shadow: 0 0 2rem rgba(0, 0, 255, 0.1);
    background-color: rgb(255, 255, 255);
    height: 4rem;
    margin: 0;
    align-items: center;
    transition: background-color 500ms linear;
    animation: 1s ease-in-out 0ms 1 fadein;
  }
  
  /*Content*/
  .left__section {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    max-width: 5rem;
  }
  
  .center__text {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: rgb(0, 0, 0);
    align-content: center;
  }
  
  /*
  ================-
      Footer
  ================
  */
  .main__footer {
    background: transparent;
    position: absolute;
    bottom: 1rem;
    left: 1.5rem;
    z-index: 100;
  }
  
  .copyright__text {
    letter-spacing: 0.1rem;
    color: black;
  }
  
  @media only screen and (max-width: 300px) {
    .slide-menu {
      width: 100%;
    }
  }
