<div  *ngFor="let l of [1,2,3]" class="widgets-row"
    fxLayout
    fxLayout.xs="column"
    fxLayoutAlign="start"
    fxLayoutWrap="wrap">
    <div class="widget" fxFlex="33%">
      <div fxLayout="row wrap" fxFlexOffset="4%" fxLayoutAlign="flex-center">
        <app-shot-preview></app-shot-preview>
        <br>
      </div>
    </div>
    <div class="widget" fxFlex="33%">
      <div fxLayout="row wrap" fxFlexOffset="4%" fxLayoutAlign="flex-center">
        <app-shot-preview></app-shot-preview>
        <br>
      </div>
    </div>
    <div class="widget" fxFlex="33%">
      <div fxLayout="row wrap" fxFlexOffset="4%" fxLayoutAlign="flex-center">
          <app-shot-preview></app-shot-preview>
          <br>
      </div>
    </div>
</div>